body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.toolbar {
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.toolbar button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.flowchart {
    padding: 20px;
    position: relative;
    height: 80vh;
    border: 1px solid #ccc;
    overflow: auto;
}

.figure {
    border: 1px solid #000;
    padding: 20px;
    margin: 10px;
    width: 100px;
    text-align: center;
    cursor: move;
    position: absolute;
}

.figure.start, .figure.end {
    background-color: #4CAF50;
    border-radius: 15px; /* Esquinas redondeadas */
}


.figure.operation {
    background-color: #8bc34a;
}

/* Resto del CSS */

.figure.condition, .figure.loop {
    width: 120px; /* Ancho del rombo */
    height: 120px; /* Altura del rombo */
    position: relative;
    background-color: #03a9f4;
    transform: rotate(45deg); /* Rotar el rombo 45 grados */
    transform-origin: center; /* Establecer el origen de la transformación en el centro */
}

.figure.condition::after, .figure.loop::after {
    content: attr(data-text); /* Usa el atributo data-text como contenido */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-180deg); /* Ajusta el texto */
    color: white;
}

/* Resto del CSS */



.textFigure {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-weight: bold;
    color: red;
}

.close-btnC {
    top: 5px;
    right: 60%;
    cursor: pointer;
    font-weight: bold;
    color: red;
}

.ep {
    right: -5px;
    top: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

.input-node {
    left: -5px;
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);
}

.output-node {
    right: -5px;
    top: 55%;
    transform: translateY(-50%) rotate(-180deg);
}

.input-nodeC {
    opacity: 0;
    left: -35px;
    top: 48%;
    transform: translateY(-50%) rotate(-180deg);
}

.output-nodeC {
    opacity: 100;
    right: -35px;
    top: 48%;
    transform: translateY(-50%) rotate(-180deg);
}
